/* Inicial parcticas */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
html {
    font-size: 62.5%;
}
:root {
    --color-f: rgba(168, 155, 155, 0.76);
}
body {
    background-color: rgba(24, 24, 24, 0.911);
}

/* Sección nueva de todo el encabezado para poder organizar CSS */
header {
    background-color: var(--color-f);
}
.h-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-contenedor picture img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
}
.h-contenedor nav picture img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
}
/* Nueva sección actulizada de mi slide desade este punto */
.contenedor-slide {
    background-color: rgb(58, 56, 53);
    display: flex;
    justify-content: space-between;
}
.contenedor-slide picture img {
    height: 5.6rem;
    width: 5.6rem;
    margin: 1rem;
    border: rgb(180, 25, 77) solid ;
    border-radius: 50%;
}
/* Pomociones */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main .promos {
    width: 100vw;
    padding: 1rem;
}
main .promos h1 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .promos .img-sec {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
main .promos .img-sec img {
    width: 100%;
    height: 30rem;
}
main .promos picture {
    margin-bottom: 1rem;
    border: solid white 0.1rem;
    border-radius: 0.5rem;
}
main .promos picture {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
main .promos picture h3 {
    margin: 1rem;
}
main .promos picture img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0.5rem;
    border: palevioletred solid ;
}
.descrip {
    border: solid white 0.1rem;
    border-radius: 0.5rem;
}
.descrip p {
    margin: 1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fotter */
footer {
    background-color: var(--color-f);
    padding: 1rem;  
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer nav li a img {
    width: 2rem;
    height: 2rem;
    margin: 0 2rem;
}
.footer nav li {
    display: inline-block;
}